{{!-- adds tooltip bar to navigation --}}
{{!-- shows the story but within the container --}}

<div class="container">
    <h2 class="align-center">Narratorium</h2>
    {{#if loggedIn}}
    <div class="one.column offset-by-one.column">
    <a href="/storypage" class="button" id="start-btn">Get Started</a>
    </div>
    {{else}}
    <div class="center-btn" id="btn-container">
    <a href="/login" class="button" id="start-btn">Get Started</a>
    </div>
    {{/if}}
    <p class="align-center">Narratorium is a collaborative story in which each user offers a few words to contribute, whether by editing past segments, 
        deleting a few words or letters here and there, and/ or adding a few words onto the end.
    </p>
    <p class="align-center">needs to take in our story{{story}}</p>
</div>