<div class="container">

  <p class="align-center">A collaborative narration playground.
    <br />
    Double-click a place in the story to expound the narrative.
  </p>

  {{#if loggedIn}}{{else}}
    <a href="/login" class="button u-center-block" id="start-btn">Get Started</a>
  {{/if}}

  <div id="quillContainer" class="">
    <div class="" id="editor-container" data-position="0"></div>
    <div id="editBtns" class="align-center">
      <button id="submit">Submit</button>
      <button id="delete">Delete</button>
    </div>
  </div>

  <h3 class="align-center">
    {{#each stories as |story|}}
      {{story.storyname}}
    {{/each}}
  </h3>

  <button id="beginStory">Begin Story</button>
  <div id="story" class="align-left"></div>

  {{! <div id="quillContainer" class="">
    <div class="" id="editor-container" data-position="0"></div>
    <div id="editBtns" class="align-center">
      <button id="submit">Submit</button>
      <button id="delete">Delete</button>
    </div>
  </div> }}
</div>
<footer class="align-center">
  <a class="navbar-link" href="https://github.com/Corasinth/narratorium">Source Code</a>
  <a class="navbar-link" href="https://icons8.com">Icon by Icon8</a>
</footer>