{{!-- adds tooltip bar to navigation --}}
{{!-- div container with only h2 Narratorium centered --}}
{{!-- button below h2 Get Started that directs to our storypage if logged in and directs to login page if not --}}
{{!-- Description of what narratorium is --}}
{{!-- shows the story but within the container --}}

<div>
    <h2>Narratorium</h2>
    {{#if loggedIn}}
    <a href="/storypage" class="button" id="start-btn">Get Started</a>
    {{else}}
    <a href="/login" class="button" id="start-btn">Get Started</a>
    {{/if}}
    <span>Narratorium is a collaborative story in which each user offers a few words to contribute, whether by editing past segments, 
        deleting a few words or letters here and there, and/ or adding a few words onto the end.
    </span>
    <p>needs to take in our story</p>
</div>