{{! adds tooltip bar to navigation }}
{{! shows the story but within the container }}

<div class="body-container">
  <a href="/"><h1 class="align-center">Narratorium</h1></a>

  {{!-- {{#if loggedIn}}
    <div class="one.column">
      {{! <a href="/story" class="button" id="start-btn">Get Started</a> }}
    </div>
  {{else}}
    <div class="center-btn" id="btn-container">
      <a href="/login" class="button" id="start-btn">Get Started</a>
    </div>
  {{/if}} --}}
  <div class="description-container">
    <p class="align-center">Narratorium is a collaborative story in which each user offers a few words to contribute, whether by editing past segments, deleting a few words or letters here and there, and/ or adding a few words onto the end.
    </p>
  </div>

  <div class="div-container" id="editor-container"></div>
  <button id="submit">Submit</button>
  <div id="story" class="align-center"></div>
</div>