<div class="container">
  <h2 class="align-center">Login</h2>
  <form class="align-center">
    <div id="status">

    </div>
    <div>
      <label for="login-username"> Username / Email:</label>
      <input class="form-input" type="text" id="login-username" />
    </div>
    <div>
      <label for="login-password">Password:</label>
      <input class="form-input" type="password" id="login-password" />
    </div>
    <div>
      <button type="submit" id="login-btn">Login</button>
    </div>
    <div>
      <span>Or if you don't have an account, sign up <a href="/signup">here</a>.</span>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>