<h2>Sign Up</h2>

<form>
  <div>
    <label for="signup-username">username:</label>
    <input class="form-input" type="text" id="signup-username" />
  </div>
  <div>
    <label for="login-email">email:</label>
    <input class="form-input" type="text" id="login-email" />
  </div>
  <div>
    <label for="signup-password">password:</label>
    <input class="form-input" type="password" id="signup-password" />
  </div>
    <div>
    <label for="signup-confirm">confirm password:</label>
    <input class="form-input" type="password" id="signup-confirm" />
  </div>
  <div>
    <button type="submit" id="signup-btn">sign up</button>
  </div>
</form>
{{!-- Is this linked properly? --}}
<script src="/js/signup.js"></script>