<h2>Sign Up</h2>

<form>
  <div>
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-create" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
    <div>
    <label for="password-login">verify password:</label>
    <input class="form-input" type="password" id="password-verify" />
  </div>
  <div>
    <button type="submit" id="signup-btn">sign up</button>
  </div>
</form>
{{!-- Is this linked properly? --}}
<script src="/js/signup.js"></script>