{{!-- {{#if loggedIn}} --}}
{{!-- Needs quill toolbar --}}
<div id="editor">
  <div id="delta-container">
    {{story.storyname}}<br>
  {{#each submission as |sub|}}
    {{sub.submission}}
  {{/each}}
  
  <p><br></p>
  </div>
</div>
{{!-- Needs to show words selected below toolbar but above story, to take in user id of each word --}}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

{{!-- Needs to be able to, when saved, take each word as a submission instance --}}
{{!-- Needs to be able to save that --}}
{{!-- Needs to be able to pull that and render it on this page in the editor --}}
{{!-- Needs to be able to edit submissions (to change letters) --}}
{{!-- Needs to be able to delete submissions --}}
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
  quill.setContent();
</script>

{{!-- quill.setContents({
    "ops":[
        {"insert":{{story}}+"\n"}
    ]
}); --}}

{{!-- quill.on('text-change', update);
var container = document.querySelector('#delta-container');
update();

function update(delta) {
  var contents = quill.getContents();
  console.log('contents', contents);
  var html = "contents = " + JSON.stringify(contents, null, 2);
  if (delta) {
    console.log('change', delta)
    html = "change = " + JSON.stringify(delta, null, 2) + "\n\n" + html;
  }
  container.innerHTML = html;
  hljs.highlightBlock(container);
} --}}

{{!-- on text change needs to take a function that splits the insert by space and makes each its own bit --}}
{{!-- each bit needs to be taken by the post route for submissions --}}

  {{!-- var text = this.quill.getText();
  if (this.options.unit === 'word') {
    return text.split(" ");
  } --}}

{{!-- quill.setContent({{}}); --}}

{{!-- {{else}}
<h6 class="align-center">Please <a href="/login">login</a> to edit the story</h6>
{{/if}} --}}
