{{#if loggedIn}}
{{!-- Needs quill toolbar --}}
{{!-- Needs to show words selected below toolbar but above story, to take in user id of each word --}}

{{!-- is container --}}
<div class="align center">
    {{story}}
</div>
{{else}}
<h6 class="align-center">Please <a href="/login">login</a> to edit the story</h6>
{{/if}}
