{{#if loggedIn}}
{{!-- Needs quill toolbar --}}
{{!-- Needs to show words selected below toolbar but above story, to take in user id of each word --}}

{{!-- is container --}}
<div>
    {{story}}
</div>
{{else}}
<a href="/login">Please login to edit the story</a>
{{/if}}
