@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

html {
    margin-top: 40px;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

/* navbar */
.navbar {
    position: sticky;
}

.u-text-center {
    text-align: center !important;
}

.navbar-title,
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

/* Title */
h1,
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
}

/* title, title_p, story title */
.align-center {
    text-align: center;
}

/* Quill Div */
#quillContainer,
.ql-editor {
    height: 5em;
    background-color: snow;
}

.ql-editor {
    height: 5em;
    color: blue;
}

#editBtns{
    margin: 2.5em 0;
}


/* getStarted button */
.u-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
/* story title */
h3 {
    margin-top: 1.5em;
}

/* story */
#story {
    margin: 1.5em;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 1.75em;
}

/* quill container (toolbar and editor) */
/* Quill editor */
#quillContainer {
    position: sticky;
    top: 0;
}

footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
}

.align-right {
    text-align: right;
    margin-left: 70%;
    padding: 15px;
}

.center-btn {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 25%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}