@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

/* ================ GENERAL =============== */
body {
    height: 100vh;
}

a {
    text-decoration: none;
}

/* ================ NAVBAR =============== */
.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid rgb(162, 162, 162) 1px;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
    padding: 2rem;
}

.u-text-center {
    text-align: center !important;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #222;
}

#logoutbutton {
    margin-bottom: 0;
}

#title-paragraph {
    margin-top: 2em;
    text-transform: uppercase;
}

/* Title */
#narratorium {
    margin: auto 0;
}

h1,
h2 {
    color: #222;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin: 2rem 0;
}

.logx {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-right {
    text-align: right;
    margin-left: 70%;
    padding: 15px;
}

/* ================ QUILL =============== */
#quillContainer {
    position: sticky;
    top: 0;
    display: none;
    min-height: 14rem;
    margin-bottom: 16rem;
    z-index: 0;
}

#editBtns {
    padding: 3px;
    background-color: rgb(165, 165, 165);
    padding-top: 10px;
}

.align-right {
    text-align: right;
    margin-left: 70%;
    padding: 15px;
}

.center-btn {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 25%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

/* Quill Div */
#quillContainer,
.ql-toolbar,
.ql-editor {
    height: 5em;
    background-color: snow;
}

.ql-toolbar {
    display: flex;
    align-content: center;
}

.ql-editor {
    color: blue;
}

.ql-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ================ COUNTERS =============== */
#charCounter,
#delCounter {
    font-weight: bold;
    font-size: small;
    margin: 0.5em;
}

/* ================ BUTTONS =============== */

/* getStarted button */
.u-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* ================ STORY =============== */
/* title, title_paragraph, story name */
.align-center {
    text-align: center;
}

#story {
    margin: 1.5em;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 1.2em;
}

.tippy-tooltip {
    font-size: 1rem;
    font-family: monospace;
}

/* ================ FOOTER =============== */
.container {
    min-height: 85%;
}

footer {
    background-color: rgb(165, 165, 165);
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
}

.push-footer {
    height: 7rem;
}

/* ================ MEDIA QUERIES =============== */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    #login-links {
        display: flex;
        flex-direction: row;
        width: fit-content;
        text-align: center;
        gap: 100%;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 4rem;
        align-self: center;
    }
}

@media screen and (max-width: 330px) {
    .navbar {
        margin-top: -15px;
    }

    h1 {
        font-size: 3rem;
    }
}
