/* * {
    border: 1px solid red;
} */

/* ============== CONTAINER ============== */
.div-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}


.description-container {
    margin-left: 25%;
    margin-right: 25%;
}

/* .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* ============== NAVBAR ============== */
.navbar {
    position: sticky;
}

.u-text-center {
    text-align: center !important;
}

.navbar-title,
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

#logout {
    margin: 1em;
}

.u-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ============== ALIGNMENT ============== */

.align-right {
    text-align: right;
    margin-left: 70%;
    padding: 15px;
}

.align-center {
    text-align: center;
}

.center-btn {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 25%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

/* ============== DECORATION ============== */

h1,
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* ============== EDITOR ============== */
#quillContainer {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}


/* ============== STORY ============== */
#story {
    margin: 5em;
}

/* ============== STORY ============== */
footer {
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    background-color: rgb(156, 156, 156);
}