#navbar {
    background-color: lightgray;
    width: 100%;
    /* margin: 15px; */
    box-sizing: border-box;
}

h4 {
    /* margin-left: 15px; */
    margin: auto;
    padding: 12px;
}

.align-right {
    text-align: right;
    margin: auto;
    padding: 15px;
}

.align-center {
    text-align: center;
}

#btn-container {
    position: relative;
}

.center-btn {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 38%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
  }